.app-logo {
}
@media (min-width: 992px){
  .app-logo-lg {
    margin-bottom: .5rem;
  }
}
@media (min-width: 992px){
  .app-bar-btn-none {
    display: none!important;
  }
}
@media (min-width: 992px){
  .nav-lg {
    padding-left: 1rem!important;
    flex-direction: row!important;
  }
}
@media (max-width: 992px){
  .nav-m {
    flex-direction: column!important;
    display: none;
  }
}
@media (max-width: 992px){
  .nav-m {
    margin-top: 1rem;
    flex-direction: column!important;
    display: none;
  }
  .nav-m-show {
    display: flex;
  }
}

@media (max-width: 992px){
  .search-m {
    display: none;
  }
  .search-m-show {
    display: block;
  }
}


.app-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.app-menu-btn {
  display: flex;
  align-items: center;
  background-color: #fff;
}
.app-menu-btn .menu-icon {
  color: #fff;
  width: 1.25em;
}

@media (min-width: 768px){
  .home-md-searchbar {
    flex-grow: 0.3!important;
  }
}

.home-data-nav{                                                                                                                                     display: flex;                                                                                                                                  padding: 0;                                                                                                                                     margin: 0;                                                                                                                                      list-style: none;                                                                                                                               border-bottom: 0.0625rem solid rgba(231,234,243,.7);                                                                                        }                                                                                                                                               .home-data-nav .nav-item {                                                                                                                          white-space: nowrap;
    display: block;
}                                                                                                                                               
.home-data-nav .nav-item .nav-link {                                                                                                                
	padding: 1rem 20px;                                                                                                                             
	display: block;                                                                                                                                 
	cursor: pointer;
}
.home-data-nav .nav-item .active {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: 0.1875rem solid transparent;
    margin-bottom: -0.125rem;
    color: rgba(32,107,196,1);
    background-color: transparent;
    border-color: rgba(32,107,196,1);
    font-weight: 600;
}
